.Exp{
    height: 48rem;
    width: 100%;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    background-image: var(--linearcolor1);
}

.e-box{
    display: flex;
    gap: 1rem;
    margin-top: -2rem;
    margin-left: 2rem;
    padding: 1rem;
    position: relative;
    overflow: hidden;
}

.e-box1,
.e-box2,
.e-box3{
    position: relative;
}
.e-container1,
.e-container2
{
    overflow: hidden;
    padding: 1rem;
    width: 50%;
    position: relative;
    border-left: .2rem solid var(--head);
}



.year{
    font-weight: bold;
    font-size: 1rem;
}

.e-data{
    padding: .8rem;
    
}

.e-data span {
    font-size: 1.2rem;
    font-weight: bold;
}

.e-data p{
    font-size: 1rem;
}

@media screen and (max-width: 480px) {
    .Exp {
      flex-direction: column;
      gap: 2rem;
      height: 150rem;
      width: 100%;
    }

    .e-box{
        flex-direction: column;
        gap: 7rem;
        margin-left: 10rem;
    }

    .e-container2{
        margin-top: -10rem;
    }

    .e-container1{
        margin-top: 12rem;
    }

    .e-container1 h1,
    .e-container2 h1{
        margin-left: -3rem;
    }

    .Exp>:nth-child(1){
   margin-left: -1rem;
       font-size:2.7rem;
       text-align: center;
    }

    .e-box{
        transform: scale(1.5);
    }
}